.noteCardContainer{
    padding: 37px;
  }
  
  .cardTitle{
    font-size: 1.5rem;
    overflow: hidden;
  }
  
  .cardFooter{
    display:flex;
    justify-content: space-between;
  }
  
  .cardActions{
    display:flex;
    gap:1rem;
  }
  
  
  .editIcon{
    color:blue;
  }
  
  .deleteIcon{
    color:red;
  }
  
  .actionItem:hover{
    cursor:pointer;
    opacity: 1;
  }
  
  .cardDetails{
    cursor:pointer;
  }